body{
    background-color: #e6f3ff;
    padding: 0;
}

.tagline{
    color:blueviolet;
    font-style: italic;
}

img{
    float: right;
}

.pricetopic{
    font-size: 25px;
    font-weight: bold;
    padding-top: 150px;
}

table{
    border:1px solid black;
    width: 100%;
}

td,th{
    padding: 16px;
    text-align: left;
}

footer{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 10px;
    padding:3px;
    background-color: orange;
    color:black;
    bottom: 0;
    left: 0;
    width: 100%;
}
